@model MyStore.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Create User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <p>Tên Đăng Nhập</p>
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="form-group">
            <p>Mật Khẩu</p>
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="form-group">
           <p>Quyền Người Dùng</p>
            @Html.TextBoxFor(model => model.UserRole, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserRole)
        </div>

        <button type="submit" class="btn btn-success">Thêm Mới</button>
        @Html.ActionLink("Trở Về", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
