@model IEnumerable<MyStore.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="bg-success">DANH SÁCH NGƯỜI DÙNG</h2>


<table class="table table-bordered table-striped">
    <tr>
        <th>Tên Đăng Nhập</th>
        <th>Quyền Người Dùng</th>
        <th>Tác Động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.UserRole</td>
            <td>
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.Username }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.Username}, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Xóa", "Delete", new { id = item.Username}, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Tạo Tài Khoản Người Dùng Mới ", "Create", null, new { @class = "btn btn-success" })
</p>