@model IEnumerable<MyStore.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="bg-success">DANH SÁCH NGƯỜI DÙNG</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Tên Đăng Nhập</th>
        <th>Quyền Người Dùng</th>
        <th>Tác Động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.UserRole</td>
            <td>

                <!-- Tạo URL dạng: /Admin/Users/Details?id=bin -->
                <a href="@Url.Action("Details", "Users", new { area = "Admin" })?id=@Url.Encode(item.Username)"
                   class="btn btn-primary">Chi Tiết</a>

                <a href="@Url.Action("Edit", "Users", new { area = "Admin" })?id=@Url.Encode(item.Username)"
                   class="btn btn-warning">Chỉnh Sửa</a>

                <a href="@Url.Action("Delete", "Users", new { area = "Admin" })?id=@Url.Encode(item.Username)"
                   class="btn btn-danger">Xóa</a>

            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Tạo Tài Khoản Người Dùng Mới", "Create", null, new { @class = "btn btn-success" })
</p>
