@model IEnumerable<MyStore.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="bg-success">DANH SÁCH KHÁCH HÀNG</h2>



<table class="table table-bordered table-striped">
    <tr>
        <th>Mã Khách Hàng</th>
        <th>Họ tên</th>
        <th>SĐT</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Tên Đăng Nhập</th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CustomerID</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerPhone</td>
            <td>@item.CustomerEmail</td>
            <td>@item.CustomerAddress</td>
            <td>@item.Username</td>
            <td>
                <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.CustomerID })">Chi tiết</a>
                <a class="btn btn-warning btn-sm" href="@Url.Action("Edit", new { id = item.CustomerID })">Sửa</a>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = item.CustomerID })">Xóa</a>
            </td>
        </tr>
    }

</table>
<p>
    <a class="btn btn-success" href="@Url.Action("Create")">Thêm khách hàng</a>
</p>